<% content_for :top_content do %>
    <div class="jumbotron">
      <div class="container" style="relative;">



        <div style="position: relative; text-align:center">
            <span style = "position: absolute; left: 0px;"><h1>Welcome to UPoints</h1></span><br><br><br><br>
          <span style = "position: absolute; left: 5px"><h2>In Development</h2></span>
          <span style ="position: absolute; right: 5px">
            <h3><%= link_to 'List of Requests', requests_path%></h3>
          </span>
          <br><br><br>
          <img src = "/assets/food.jpg" alt="Food" align=middle width = 100%">

        </div>

      <div style ="position: absolute; bottom: 5px">
        <%= link_to 'About Us ', static_pages_about_path%><%= link_to 'Contact Us ', static_pages_contact_path%><%= link_to 'Liability Us', static_pages_liability_path%>
      </div>
      </div>
    </div>
<% end %>