<div>
  <p><%= @user.first_name %> <%= @user.last_name %>,</p>

  <p>You’ve successfully deleted your UPoints account, and we’re so sorry to see you go. You don’t owe us any favors but if you feel so inclined, please help us improve by replying to this email with why you’ve left.</p>

  <p>Thank you,<br>
    The UPoints Team</p>

  <p><a href="mailto:example@example.com">example@example.com</a></p>
</div>