<div>
  <p>Welcome to UPoints. And thanks for signing up!</p>

  <p>Username<br>
    <%= @user.email %></p>

  <p>Login<br>
    <%= link_to @sign_in_url, @sign_in_url %></p>


  <p>Thank you,<br>
    The UPoints Team</p>

  <p><a href="mailto:hi@exmaple.example">exmaple@example.com</a></p>
</div>